<div class="float-start">



    <div class="card m-1" style="width: 16rem;">
        <img src="../../../assets/Imagenes/j1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dying Light</h5>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card m-1" style="width: 16rem;">
        <img src="../../../assets/Imagenes/j2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">God of War</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card m-1" style="width: 16rem;">
        <img src="../../../assets/Imagenes/j3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Fifa 22</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card m-1" style="width: 16rem;">
        <img src="../../../assets/Imagenes/j4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Elden Ring</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>



</div>