<div class="float-start ">
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid flex-column">
          <a class="navbar-brand" href="#">PS4</a>
          <a class="navbar-brand" href="#">PS3</a>
          <a class="navbar-brand" href="#">PS2</a>
          <a class="navbar-brand" href="#">WII</a>
          <a class="navbar-brand" href="#">XBOX</a>
          <a class="navbar-brand" href="#">Nintendo</a>
          <a class="navbar-brand" href="#">PC</a>
          <a class="navbar-brand" href="#">Otras Consolas</a>
          <a class="navbar-brand" href="#">Contacto</a>
          <a class="navbar-brand" href="#">Quienes Somos</a>
        </div>
      </nav>
</div>